{:paths ["resources" "src"]
 :mvn/repos
 {"unidata"
  {:url "https://artifacts.unidata.ucar.edu/content/repositories/unidata-releases"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        edu.ucar/netcdf4 {:mvn/version "5.2.0"
                          :exclusions [org.apache.httpcomponents/httpclient]}
        org.clojure/tools.logging {:mvn/version "0.5.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {cprop {:mvn/version "0.1.14"}}}}}
